/* FOOTER */

footer {
    background-color: $color-fondo-secundario;
	width: 100%;
	padding: 50px 0px;
	background-size: cover;
}


.redesSociales {
    color: $color-fuentes-terciario;
    margin-right: 10px;
    margin-bottom: 30px;
}