/* NOVEDADES */

.cardNovedades {
    margin-right: 10px;
    margin-top: 20px;
    background-color: $color-fondo-terciario;
    border-radius: 4px;
    border-radius: 1rem;
    padding: 0.4rem;
    max-width: 100%;
}

.card-title {
    font-weight: bolder;
}

.card-text {
    font-size:medium;
}

.boton-card {
    background-color: $color-fondo-secundario;
    margin: auto;
    font-weight: bolder;
}
