/* VARIABLES */

$color-fuentes: #000000;
$color-fuentes-secundario: #118AB2;
$color-fuentes-terciario: #EF476F;
$color-fondo: #bfe5ef;
$color-fondo-secundario: #327eb2;
$color-fondo-terciario: #ADE8F4;
